@use '../../scss/' as *;

.btn {
	position: relative;

	padding: 1.2rem 1.6rem;
	border: 1px solid transparent;
	border-radius: 1.5rem;

	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1;

	color: $light-color;
	background-color: transparent;

	overflow: hidden;
	transition: all 0.2s ease;
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		transform-origin: center;

		width: 150%;
		height: 150%;

		border-radius: 50%;

		background-color: $light-color;

		z-index: -1;
		transition: transform 0.4s ease;
	}

	&:hover::after {
		transform: translate(-50%, -50%) scale(1);
	}
	&:hover {
		color: $primary-color;
	}

	&.outline {
		border: 1px solid $light-color;
	}
	&.bg {
		color: $primary-color;
		&::after {
			transform: translate(-50%, -50%) scale(1);
		}
		&:hover::after {
			transform: translate(-50%, -50%) scale(0);
		}
	}
}
