@use '../../scss/' as *;

.resume {
	position: relative;

	&__header {
		@include flex(center, center);
		flex-direction: column;

		width: 100%;
		height: 100vh;
		padding: 0 1rem;

		border-bottom: 1px solid rgba($color: $light-color, $alpha: 0.2);

		text-align: center;
	}
	&__title {
		font-size: 6rem;
		letter-spacing: 0.2em;
		@include sm {
			font-size: 5.2rem;
		}
	}
	&__text {
		font-size: 2.4rem;
	}
	&__arrow {
		@include flex(center, center);
		padding: 0.5rem;

		animation: slidingDown 1s linear infinite alternate;
	}
}
