@use '../../scss/' as *;

.skills {
	width: 100%;
	padding: 4rem 2rem;
	margin: 0 auto;

	// Title
	&-title {
		margin-bottom: 5rem;

		font-size: 3.2rem;
		font-weight: 600;
		text-align: center;
	}

	// Skill Tech List
	&__tech {
		width: 100%;

		// Container | Wrapper
		&-container {
			width: 80%;
			margin: 0 auto;
			@include sm {
				width: 100%;
			}

			@include flex(center, center);
			flex-wrap: wrap;
			gap: 2rem;
		}

		// Tech Card
		&-card {
			position: relative;

			@include flex(center, center);
			flex-direction: column;
			padding: 1rem;
			width: 15rem;
			height: 15rem;

			border: 1px solid rgba($color: $light-pink-color, $alpha: 0.2);
			border-radius: 1.6rem;

			background-color: transparent;

			overflow: hidden;
			cursor: pointer;
			transition: all 0.5s ease-in;

			// Background Overlay
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);

				width: 100%;
				height: 100%;

				box-shadow: inset 0 0 200px rgba($color: $light-pink-color, $alpha: 0.4);
				filter: blur(80px);

				transition: all 0.4s ease;
				z-index: -1;
			}
			&:hover::before {
				transform: translate(-50%, -50%) scale(1);
			}
			// Card Icon
			&__icon {
				transform: scale(0.6);
				transition: transform 0.2s ease;
				& img {
					width: 8rem;
				}
			}
			&:hover &__icon {
				transform: scale(0.8);
			}
		}
	}

	// Skill Ability List
	&__ability {
		width: 100%;
		margin: 20rem auto 1.6rem;

		// Container | Wrapper
		&-container {
			display: grid;
			grid-template-columns: repeat(2, minmax(200px, 500px));
			gap: 2rem;
			justify-content: center;
			@include sm {
				grid-template-columns: repeat(1, 1fr);
			}

			width: 100%;
		}

		// Card
		&-card {
			position: relative;

			padding: 1.6rem;
			border-radius: 1.6rem;
			border: 1px solid rgba($color: $light-color, $alpha: 0.2);

			cursor: default;
			transition: all 0.2s ease;

			&:hover &__bg {
				opacity: 0.2;
			}
			&:hover {
				box-shadow: 0 0 5px 2px rgba($color: $light-pink-color, $alpha: 0.4);
			}
			// Background Icon
			&__bg {
				position: absolute;
				top: 0;
				left: 0;

				@include flex(center, center);

				width: 100%;
				height: 100%;

				font-size: 10em;

				color: rgba($color: $light-color, $alpha: 0.4);

				opacity: 0.05;
				z-index: -1;
				transition: all 0.2s ease;
			}
			// Title
			&__title {
				@include flex(center, flex-start);
				margin-bottom: 1.8rem;

				font-size: 2.8rem;
				font-weight: 600;
				text-align: left;
				color: $primary-color;
			}
			&__desc {
				font-size: 1.8rem;
			}
		}
	}
}
