@use '../../scss/' as *;

.home {
	&-container {
		padding: 0 1rem;
	}

	// Home Image
	&-img {
		max-width: 30rem;
		margin: 0 auto;
		padding: 0.4rem;

		background-image: linear-gradient(60deg, $linear-gradient);
		background-size: 400% 400%;
		animation: movingGradient 5s ease-in-out infinite;

		border-radius: 50%;

		overflow: hidden;

		& img {
			border-radius: inherit;
			object-fit: cover;
		}
		@include sm {
			display: none;
		}
	}

	// Content
	&-content {
		max-width: 800px;
		margin: 0 auto;

		text-align: center;
		@include sm {
			text-align: left;
		}

		& h4 {
			font-size: 4.2rem;
			font-weight: 600;
		}

		// Text
		& p {
			font-size: 2.4rem;
			font-weight: 400;
			& span {
				font-style: italic;
				color: $primary-color;
			}
		}
	}

	// Buttons
	&-buttons {
		@include flex(center, center);
		flex-wrap: wrap;
		gap: 1.6rem;
	}
}
