@use './variables' as *;
@use './breakpoints' as *;
@use './mixin' as *;
@use './animations' as *;
@use './helpers' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include sm {
		font-size: 55%;
	}
}

body {
	font-family: $primary-font;
	font-size: 1.6rem;
	line-height: 1.5;

	color: $light-color;
	background-color: $dark-color;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	max-width: 1660px;
	margin: 0 auto;
}

.page-full {
	width: 100%;
	height: 100vh;
}

// Section
.section {
	@include flex(center, center);
	flex-direction: column;

	width: 100%;
	height: 100%;
	& + .section {
		border-top: 1px solid rgba($color: $white-color, $alpha: 0.1);
	}

	// Section Header
	&__header {
		position: relative;
		margin-bottom: 4rem;
	}
	// Section Heading
	&__heading {
		position: relative;
		font-size: 3.6rem;

		width: fit-content;
		margin: 0 auto;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			width: 50%;
			height: 2px;

			border-radius: 20px;

			color: $light-color;
			background-color: $primary-color;

			z-index: 10;
		}

		&--bg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			font-size: 10rem;

			color: rgba($color: $black-color, $alpha: 0.4);

			opacity: 0.4;

			@include sm {
				display: none;
			}
		}
	}
	// Section Container
	&__container {
		max-width: 800px;
		padding: 1rem 1.6rem;

		font-size: 2.2rem;
		text-align: center;

		@include sm {
			text-align: left;
		}
		> * ~ * {
			margin-top: 1.6rem;
		}
	}
}

.highlight {
	&--pink {
		@include highlight($primary-color);
	}
	&--blue {
		@include highlight($blue-color);
	}
	&--small {
		@include highlight($light-color);
		font-size: 2rem;
	}
}
