@import url('https://api.fontshare.com/v2/css?f[]=nunito@300,301,700,601,501,600,701,401,400,500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=dancing-script@400&display=swap');

// Fonts
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Dancing Script', cursive;

// Colors
$primary-color: #ff5975;
$light-pink-color: #fedada;
$deep-purple-color: #2e1a35;

$light-color: #fff7fa;
$dark-color: #1d242c;

$black-color: #000;
$white-color: #fff;

$dark-linear: (#4b6cb7 100%, #182848 100%);

$linear-gradient: (#ff9482, #fbc2eb, #e0c4fd, #8a64eb, #a18cd1, #7d77ff, #8fc6fd, #64e8de, #41f0d1);

// Sizes & Spacings
$header-height: 60px;

// Breakpoints
$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1250px;
